Infrastructure/Service References/Wcf.PermissionService/PermissionCore.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PermissionCore.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PermissionCore.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInfo" nillable="true" type="tns:ArrayOfUserInfo" />
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BBID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="ArrayOfStrategyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StrategyInfo" nillable="true" type="tns:StrategyInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStrategyInfo" nillable="true" type="tns:ArrayOfStrategyInfo" />
  <xs:complexType name="StrategyInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PMCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrategyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrategyType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StrategyInfo" nillable="true" type="tns:StrategyInfo" />
  <xs:complexType name="ArrayOfPermissionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionInfo" nillable="true" type="tns:PermissionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionInfo" nillable="true" type="tns:ArrayOfPermissionInfo" />
  <xs:complexType name="PermissionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LeafLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermssionSource" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionInfo" nillable="true" type="tns:PermissionInfo" />
  <xs:simpleType name="OperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RoleInStrategy" />
      <xs:enumeration value="RoleInTeam" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationType" nillable="true" type="tns:OperationType" />
  <xs:complexType name="ArrayOfUserExtension">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserExtension" nillable="true" type="tns:UserExtension" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserExtension" nillable="true" type="tns:ArrayOfUserExtension" />
  <xs:complexType name="UserExtension">
    <xs:sequence>
      <xs:element minOccurs="0" name="BBID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserExtension" nillable="true" type="tns:UserExtension" />
  <xs:simpleType name="PermissionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Module" />
      <xs:enumeration value="Report" />
      <xs:enumeration value="Function" />
      <xs:enumeration value="Data" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PermissionType" nillable="true" type="tns:PermissionType" />
  <xs:complexType name="ArrayOfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeam" nillable="true" type="tns:ArrayOfTeam" />
  <xs:complexType name="Team">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SysUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfTeamRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamRole" nillable="true" type="tns:TeamRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamRole" nillable="true" type="tns:ArrayOfTeamRole" />
  <xs:complexType name="TeamRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SysUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamRole" nillable="true" type="tns:TeamRole" />
  <xs:complexType name="ArrayOfTeamMember">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamMember" nillable="true" type="tns:TeamMember" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamMember" nillable="true" type="tns:ArrayOfTeamMember" />
  <xs:complexType name="TeamMember">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SysDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SysUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamMember" nillable="true" type="tns:TeamMember" />
  <xs:complexType name="ArrayOfPermissionDef">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionDef" nillable="true" type="tns:PermissionDef" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionDef" nillable="true" type="tns:ArrayOfPermissionDef" />
  <xs:complexType name="PermissionDef">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SysUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionDef" nillable="true" type="tns:PermissionDef" />
  <xs:complexType name="ArrayOfPermission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Permission" nillable="true" type="tns:Permission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermission" nillable="true" type="tns:ArrayOfPermission" />
  <xs:complexType name="Permission">
    <xs:sequence>
      <xs:element minOccurs="0" name="EntityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="PermissionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SysUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permission" nillable="true" type="tns:Permission" />
  <xs:complexType name="ArrayOfPermissionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PermissionDetail" nillable="true" type="tns:PermissionDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPermissionDetail" nillable="true" type="tns:ArrayOfPermissionDetail" />
  <xs:complexType name="PermissionDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PermissionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PermissionDetail" nillable="true" type="tns:PermissionDetail" />
</xs:schema>